:root {
    --codesign-color-primary: var(--color-violet-500);
    --codesign-color-on-primary: var(--color-white);

    --codesign-color-danger: var(--color-rose-800);
    --codesign-color-on-danger: var(--color-rose-50);

    --codesign-color-warning: var(--color-amber-400);
    --codesign-color-on-warning: var(--color-amber-950);

    --codesign-color-success: var(--color-green-600);
    --codesign-color-on-success: var(--color-green-50);

    --codesign-color-surface-0: var(--color-white);
    --codesign-color-on-surface-0: var(--color-slate-950);

    --codesign-color-surface-1: var(--color-slate-100);
    --codesign-color-on-surface-1: var(--color-slate-900);

    --codesign-color-surface-2: var(--color-slate-200);
    --codesign-color-on-surface-2: var(--color-slate-800);
}
