@property --scan-lines-duration {
    syntax: '<time>';
    inherits: true;
}

@keyframes animate-scan-lines {
    to {
        background-position: 0 100%;
    }
}

@utility scan-lines {
    & {
        --_scan-lines-color-1: transparent;
        --_scan-lines-color-2: color-mix(
            in srgb,
            var(--scan-lines-color, currentcolor) var(--scan-lines-color-opacity, 15%),
            transparent
        );
        --_scan-lines-size: var(--scan-lines-size, 16px);
        --_scan-lines-duration: var(--scan-lines-duration, 10s);

        position: relative;
        isolation: isolate;
    }

    &::after {
        content: '';

        position: absolute;
        z-index: 999;
        inset: 0;

        background: linear-gradient(
            to bottom,
            var(--_scan-lines-color-1),
            var(--_scan-lines-color-1),
            var(--_scan-lines-color-2),
            var(--_scan-lines-color-2),
            var(--_scan-lines-color-2),
            var(--_scan-lines-color-2),
            var(--_scan-lines-color-1),
            var(--_scan-lines-color-1)
        );
        background-size: cover;
        background-size: 100% var(--_scan-lines-size);

        animation: animate-scan-lines var(--_scan-lines-duration) linear infinite;
    }
}

@utility scan-lines-size-* {
    --scan-lines-size: --value([length]);
    --scan-lines-size: calc(--value(integer) * 1px);
}

@utility scan-lines-color-* {
    --scan-lines-color: --value(--color-*);
    --scan-lines-color: --value([color]);
    --scan-lines-color-opacity: calc(--modifier(integer, 25) * 1%);
}

@utility scan-lines-duration-* {
    --scan-lines-duration: --value([*]);
    --scan-lines-duration: calc(--value(integer) * 1ms);
}
