name: Release

on:
    push:
        branches:
            - main

concurrency: ${{ github.workflow }}-${{ github.ref }}

jobs:
    release:
        name: Release
        runs-on: ubuntu-latest
        permissions:
            contents: write
            pull-requests: write

        steps:
            - name: Checkout Repo
              uses: actions/checkout@v4

            - name: Setup Node.js
              uses: actions/setup-node@v4
              with:
                  node-version: 20

            - uses: pnpm/action-setup@v3
              with:
                  version: 9

            - name: Install Dependencies
              run: pnpm install --frozen-lockfile

            - name: Create Release Pull Request or Tag
              id: changesets
              uses: changesets/action@v1
              with:
                  version: pnpm ci:version
                  publish: pnpm ci:publish
                  commit: 'chore: update versions'
                  title: 'chore: version packages'
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
